@charset "utf-8";

* {margin: 0; padding: 0;}
body {background-color: #f2f2f2; color: #333;}
a {text-decoration: none;}
li {list-style: none;}
.hide {display: none;}


#all {width: 1200px; margin: 0 auto;}

#header {width: 1200px; height: 100px;}
#header .logo {position: relative; float: left; width: 200px; height: 100px;}
#header .logo img {z-index: 15; position: absolute; width: 200px; height: 100px;}

#header .nav {position: relative; float: right; width: 1000px; height: 100px; background-color: #f2f2f2;}
#header .menu {position: absolute; right: 25px; bottom: 0; width: 600px; height: 50px; line-height: 50px; text-align: center;}
#header .menu li {float: left; width: 150px; height: 50px; line-height: 50px; background-color: #ff5050;}
#header .menu li:hover {background-color: #ffc000; cursor: pointer;}
#header .menu li a {color: #333;}
#header .sub {display: none; height: 150px; background-color: #ff5050;}
#header .sub li:hover {background-color: #5b9bd5;}
#header .menu-bg {display: none; position: absolute; left: -200px; top: 100px; width: 1200px; height: 150px; background-color: #ff5050;}


#banner {position: relative; width: 1200px; height: 300px; z-index: -10;}
#banner .slider {position: absolute;}
#banner .slider img {position: absolute; width: 1200px; height: 300px;}


#contents {width: 1200px; height: 200px;}
#contents > div {float: left;}
#contents .cont1 {width: 400px; height: 200px;}
#contents .gong-header {width: 398px; height: 25px; line-height: 25px; text-align: center; border-left: 1px solid; border-right: 1px solid;}
#contents .gong-body {width: 398px; height: 173px; border: 1px solid;}
#contents .title {width: 398px; height: 24px; line-height: 24px; text-align: center; border-bottom: 1px solid;}
#contents .gong-body li {float: left; width: 398px; height: 25px; line-height: 25px;}
#contents .gong-body li a {color: #333;}
#contents .gong-body span {float: right; width: 100px; text-align: center; border-left: 1px solid;}

#contents .cont2 {width: 400px; height: 200px;}
#contents .gal-header {width: 399px; height: 25px; line-height: 25px; text-align: center; border-right: 1px solid;}
#contents .gal-body {position: relative; width: 399px; height: 173px; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid;}
#contents .img-box1 {position: absolute; left: 10px; top: 25px; width: 120px; height: 120px; border: 1px solid; border-radius: 5px;}
#contents .img-box1 img {position: relative; left: 10px; top: 10px; width: 100px; height: 100px;}
#contents .img-box2 {position: absolute; left: 140px; top: 25px; width: 120px; height: 120px; border: 1px solid; border-radius: 5px;}
#contents .img-box2 img {position: relative; left: 10px; top: 10px; width: 100px; height: 100px;}
#contents .img-box3 {position: absolute; right: 10px; top: 25px; width: 120px; height: 120px; border: 1px solid; border-radius: 5px;}
#contents .img-box3 img {position: relative; left: 10px; top: 10px; width: 100px; height: 100px;}
#contents .gal-body img:hover {opacity: 50%;}


#contents .cont3 {width: 400px; height: 200px;}
#contents .ba-header {width: 399px; height: 25px; line-height: 25px; text-align: center; border-right: 1px solid; border-bottom: 1px solid;}
#contents .ba-body {width: 399px; height: 173px; border-right: 1px solid; border-bottom: 1px solid;}


#footer {width: 1200px; height: 100px;}
#footer .footer-left-section {float: left; width: 900px; height: 100px; background-color: #f2f2f2;}
#footer .foot1 {position: relative; width: 900px; height: 50px;}
#footer .footer-menu {position: absolute; left: 320px; width: 350px; height: 25px; top: 25px;}
#footer .footer-menu li {float: left; width: 75px; height: 25px; text-align: center;}
#footer .footer-menu li a {color: #333;}
#footer .menu-border {border-left: 1px solid; border-right: 1px solid; width: 50px !important;}
#footer .menu-right-border {border-right: 1px solid;}

#footer .foot2 {position: relative; width: 900px; height: 50px; line-height: 50px; text-align: center;}

#footer .foot3 {float: right; width: 300px; height: 100px; line-height: 100px; background-color: #f2f2f2; text-align: center;}


#popup {position: fixed; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 100;}
#popup .popup-body {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 300px; height: 700px; background-color: #f2f2f2;}
#popup .close {position: absolute; bottom: 25px; right: 25px; color: #333;}
#popup .popup-body h1 {position: absolute; top: 15px; left: 25px;}
