* {margin: 0; padding: 0;}
a {color: #333; text-decoration: none;}
li {list-style: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

#all {width: 960px; margin: 0 auto;}

#header {text-align: center;}
#header .logo {float: left; width: 200px; height: 130px; line-height: 130px; background-color: #fff;}
#header .nav {position: relative; float: right; width: 760px; height: 130px; background-color: #fff;}
#header .menu {position: absolute; right: 0; top: 37px; width: 600px; height: 50px; line-height: 50px;}
#header .menu li {width: 200px; float: left;}
#header .menu li a {display: block; background-color: #fff;}
#header .menu li a:hover {text-decoration: underline;}
#header .submenu {display: none;}
#header .submenu li:hover {background-color: whitesmoke;}



#banner {position: relative; height: 400px; background-color: turquoise; z-index: -10; overflow: hidden;}
#banner img {width: 100%; height: 400px; float: left;}
#banner .two {margin-left: -1920px;}
#banner .three {margin-left: -2880px;}
#banner .four {margin-left: -3840px;}
#banner .five {margin-left: -4800px;}
#banner .box {
    z-index: 10;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    padding: 10px 30px;
    border-radius: 10px;
}
#banner .box h1 {color: #bb692d;}

.slider {position: relative;}
.slider > div {position: absolute; top: 0; left: 0;}
.slider > img {width: 100%;}
.slideList {position: absolute; left: 0; top: 0; width: 960px; height: 400px;}



#contents {width: 960px; height: 500px; text-align: center;}
#contents .cont1 {height: 200px;}
#contents .G {float: left; width: 480px; height: 200px;}
#contents .G > h2 {margin-top: 5px; width: 480px;}
#contents .nl {width: 480px; text-align: center; font-weight: bold; border-top: solid 1px;}
#contents .nr {width: 100px; float: right; font-weight: bold;}
#contents .one {background-color: greenyellow; width: 470px; text-align: left; font-size: 14px;}
#contents .two {background-color: #fff; width: 470px; text-align: left; font-size: 14px;}
#contents span {text-align: center; float: right;}
#contents .cont1 li {padding: 4px;}
#contents .cont1 li:hover {font-weight: bold; cursor: pointer;}


#contents .P {float: right; width: 480px; height: 200px;}
#contents .P img {display: block; position: relative; left: 20%;}
#contents .Bimg {width: 360px; height: 125px; z-index: 15; cursor: pointer;}

#contents .cont2 {height: 200px; position: relative;}
#contents .cont2 img {position: relative; float: left; left: 200px; top: 60px; height: 150px; margin: 0px 20px;}

#contents .cont3 {height: 100px; background-color: #fff;}
#contents .cont3 ul {position: relative; width: 600px; height: 100px; margin: 0px 180px;}
#contents .cont3 li {
    float: left; width: 110px; height: 40px; line-height: 40px;
    margin-top: 30px;
    margin-left: 55px; margin-right: 10px; padding: 0px 7px;
    color: #fff;
    background-color: #bb692d;
    border-radius: 5px;
}
#contents .cont3 li:hover {background-color: brown; cursor: pointer;}
#contents a {color: #fff;}

#footer {position: relative; width: 960px; height: 150px; background-color: #bb692d;}
#footer .bl {float: left; height: 80px; margin: 35px 25px; color: #fff; font-size: 14px;}
#footer .blli {float: left; padding: 10px 10px;}
#footer .br {position: relative; left: 120px; height: 130px; color: #fff; font-size: 14px; padding: 10px;}

.popup_bg {
    width: 100%; height: 100%; background-color: rgba(0,0,0,0.8);
    position: fixed; left: 0; top: 0; z-index: 900; display: none;
}

.popup {
    width: 30%; height: 50%; background-color: #fff;
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%); z-index: 1000;
}

.popup img {position: relative; width: 50%; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.popup h1 {position: relative;}
.popup a {position: relative; margin-left: 230px; top: 100px; text-decoration: underline; font-size: 18px; background-color: wheat;}

.popup > h2 {position: relative; left: 10px; top: 10px;}
.close {position: absolute; bottom: 20px; left: 50%; transform: translate(-50%, -20%); cursor: pointer; background-color: gray; opacity: 90%; padding: 10px; border-radius: 10px;}