@charset "utf-8";

header {
    position: relative;
    width: 100%; height: 120px;
    background-color: limegreen; color: #fff;
}
header h1 {position: absolute; left: 5px;}
header h3 {position: absolute; left: 5px; top: 50px;}


#content {display: block;}

#left_section {float: left; width: 25%; height: 600px; background-color: lightblue;}
#left_section .left_menu {list-style: none;}

#center_section {float: left; width: 50%; height: 600px; background-color: khaki;}


#first_section {height: 400px;}

#second_section {height: 200px;}

#right_section {float: left; width: 25%; height: 600px; background-color: lightcoral;}


